### ingest data from bollywood dataset

In [2]:
dataset_id = "bollywood_staging"

In [3]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'starry-center-266501:bollywood_staging' successfully created.

### creating tables and loading data into tables

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.bollywoodActors \
'gs://cs329e-imdb-data-csvs/bollywood-data/bollywoodActors.csv'

Waiting on bqjob_r1ec0e5af9e7b3311_0000017176286793_1 ... (1s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.bollywoodActress \
'gs://cs329e-imdb-data-csvs/bollywood-data/bollywoodActress.csv'

Waiting on bqjob_r58603fce13bbec30_0000017176297891_1 ... (1s) Current status: DONE

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.bollywood \
'gs://cs329e-imdb-data-csvs/bollywood-data/bollywood.csv'

Waiting on bqjob_r1132896574a22ba0_000001717629ec62_1 ... (1s) Current status: DONE

Visually inspect the contents of each table by selecting a few sample records.

bollywood

In [2]:
%%bigquery
SELECT *
FROM bollywood_staging.bollywood
LIMIT 5

,Year,Title,Director,Cast,Genre,Release_Month,Release_Date,Highest_Grosser_By_Year_in_crores_
0,1920,Shakuntala,Shree Nath Patankar,unknown,"mythology,drama",None,None,None
1,1921,Belgian Emperor's Visit To India,Nitin Bose,unknown,documentary,None,None,None
2,1921,Bilet Pherat a.k.a. England Returned,Dhirendranath Ganguly,"dhirendranath,chakraborty,sushilabala,kunjalal...","social,comedy",None,None,None
3,1921,King Gopichand a.k.a. Gopichand,Vishnupant Divekar,"mama,koregaonkar,hira,bhatt",legend,None,None,None
4,1922,Bhartrahari a.k.a. King Bhartrahari,S. N. Patankar,"tara,koregaonkar,thatte",legend,None,None,None

In [3]:
%%bigquery
SELECT * 
FROM bollywood_staging.bollywoodActors
LIMIT 5

               Name  Height_in_cm_
0        Aamir Khan            163
1  Himesh Reshamiya            163
2      Kamal Haasan            165
3       Kunal Khemu            166
4     Shahid Kapoor            167

In [5]:
%%bigquery
SELECT *
FROM bollywood_staging.bollywoodActress
LIMIT 5

             Name  Height_in_cm_      Debut_aslead_role _____
0   Ameesha Patel            152  Kaho Naa... Pyaar Hai  None
1   Soha Ali Khan            152        Rang De Basanti  None
2  Tanuja Samarth            152     Hamari Yaad Aayegi  None
3      Alia Bhatt            155    Student of the Year  None
4    Farida Jalal            155           Laal Patthar  None