In [2]:
dataset_id = "imdb_modeled"
!bq --location=US mk --dataset {dataset_id}

BigQuery error in mk operation: Dataset 'starry-center-266501:imdb_modeled'
already exists.

## Create new table "People" from columns of imdb_staging.NameBasics. Establish nConst as a primary key. Retitle "string_field_i" as correct name. Cast birthYear and deathYear from string to int

%%bigquery
create table imdb_modeled.People as 
SELECT distinct string_field_0 as nConst, string_field_1 as primaryName, safe_cast(string_field_2 as int64) as birthYear,
safe_cast(string_field_3 as int64) as deathYear, string_field_4 as primaryProfession, string_field_5 as knownForTitles
FROM imdb_staging.NameBasics

### Sample People

In [16]:
%%bigquery 
SELECT * from imdb_modeled.People limit 5

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm1072898,Hans-Joachim Frank,1954,NaN,"actor,director,assistant_director","tt1091772,tt0078264,tt0302888,tt1191976"
1,nm0074890,Bärbl Bergmann,1931,2003.0,"director,writer,assistant_director","tt0130988,tt0310958,tt1298811,tt0085199"
2,nm2228559,Juan Souter,1970,NaN,"art_department,set_decorator","tt2980592,tt1263670,tt0406759,tt0806203"
3,nm0392646,Jes Holtsø,1956,NaN,"actor,art_department,composer","tt0075002,tt0073482,tt0066807,tt0068081"
4,nm0884620,Frantisek Valert,1932,1993.0,"cinematographer,camera_department,special_effects","tt0058971,tt0062332,tt0232750,tt0405822"

### Verify nConst as a primary key

In [15]:
%%bigquery
SELECT COUNT(*) FROM imdb_modeled.People

       f0_
0  9870691

In [22]:
%%bigquery
SELECT COUNT(DISTINCT nConst) FROM imdb_modeled.People

       f0_
0  9870691

## Create table "Titles" from columns of imdb_staging.TitleBasics. Establish primary key tConst. Cast strings endYear and runtimeMinutes to integers

In [2]:
%%bigquery
CREATE TABLE imdb_modeled.Titles as 
SELECT DISTINCT tConst, titleType, primaryTitle, startYear, safe_cast(endYear as int64) as endYear,  
safe_cast(runtimeMinutes as int64) as runtimeMinutes, genres
FROM imdb_staging.TitleBasics

Empty DataFrame
Columns: []
Index: []

### Sample Titles

In [28]:
%%bigquery
SELECT * from imdb_modeled.Titles 
LIMIT 5

,tConst,titleType,primaryTitle,startYear,endYear,runtimeMinutes
0,tt10894890,tvEpisode,Episode dated 2 March 1999,1999,None,NaN
1,tt0607122,tvEpisode,Episode dated 29 November 1999,1999,None,NaN
2,tt0488234,short,Tucumán arde: documento,1999,None,NaN
3,tt2096773,tvEpisode,Episode #1.76,1999,None,NaN
4,tt10710646,tvEpisode,Taose! Kuraken,1999,None,20.0

### Verify tConst as a primary key

In [29]:
%%bigquery
SELECT COUNT(*) from imdb_modeled.Titles

       f0_
0  6524093

In [33]:
%%bigquery
SELECT COUNT (DISTINCT tConst)from imdb_modeled.Titles

       f0_
0  6524093

## Create table "Writes" from writers and tConst columns of imdb_staging.TitleCrew. Establish primary key tConst. Use parent table Titles to place foreign key restriction on Writes for the tConst field. Name unnamed fields of TitleCrew.

In [15]:
%%bigquery
create table imdb_modeled.Writes as 
SELECT DISTINCT tc.string_field_2 as writers, tc.string_field_0 as tConst
FROM imdb_staging.TitleCrew tc
INNER JOIN imdb_modeled.Titles ti on tc.string_field_0 = ti.tConst

Empty DataFrame
Columns: []
Index: []

### Verify tConst as a primary key of Writes

In [16]:
%%bigquery
SELECT COUNT (*) 
FROM imdb_modeled.Writes

       f0_
0  6524093

In [17]:
%%bigquery
SELECT COUNT (DISTINCT tConst)
FROM imdb_modeled.Writes

       f0_
0  6524093

### Verify imdb_modeled.Writes has a foreign key constraint on field tConst by parent imdb_modeled.Titles

In [18]:
%%bigquery
SELECT wi.tConst
FROM imdb_modeled.Writes wi
WHERE wi.tConst NOT IN (SELECT ti.tConst FROM imdb_modeled.Titles ti)

Empty DataFrame
Columns: [tConst]
Index: []

## Create table "Directs" from directors and tConst columns of imdb_staging.TitleCrew. Create primary key of tConst. Place foreign key restriction on Directors for the tConst field of parent table imdb_modeled.Titles. Name unnamed fields of TitleCrew.

In [19]:
%%bigquery
CREATE table imdb_modeled.Directs as 
SELECT DISTINCT tc.string_field_1 as directors, tc.string_field_0 as tConst
FROM imdb_staging.TitleCrew tc
INNER JOIN imdb_modeled.Titles ti on tc.string_field_0 = ti.tConst

Empty DataFrame
Columns: []
Index: []

### Sample Directs

In [20]:
%%bigquery
SELECT * 
FROM imdb_modeled.Directs
LIMIT 5

   directors     tConst
0  nm0299154  tt0011983
1  nm0510357  tt0036917
2  nm0742819  tt0082495
3  nm0815638  tt0286200
4  nm1143942  tt0326989

## Verify tConst as a primary key

In [21]:
%%bigquery
SELECT COUNT(*) FROM imdb_modeled.Directs

       f0_
0  6524093

In [22]:
%%bigquery
SELECT COUNT(DISTINCT tConst) FROM imdb_modeled.Directs

       f0_
0  6524093

### Verify imdb_modeled.Direct has a foreign key constraint on field tConst by parent imdb_modeled.Titles

In [23]:
%%bigquery
SELECT di.tConst
FROM imdb_modeled.Directs di
WHERE di.tConst NOT IN (SELECT ti.tConst FROM imdb_modeled.Titles ti)

Empty DataFrame
Columns: [tConst]
Index: []

## Create table "TitleRatings" from imdb_modeled.TitleRatings, with primary key tConst and foreign key constraint on tConst by parent table Titles

In [54]:
%%bigquery
CREATE table imdb_modeled.TitleRatings as
SELECT distinct tr.tConst, averageRating, numVotes
FROM imdb_staging.TitleRatings tr
INNER JOIN imdb_staging.TitleBasics tb on tb.tConst = tr.tConst

Empty DataFrame
Columns: []
Index: []

## Sample TitleRatings

In [55]:
%%bigquery
SELECT * 
FROM imdb_modeled.TitleRatings 
LIMIT 5

      tConst  averageRating  numVotes
0  tt0049468            4.1       319
1  tt0077533            4.2      5864
2  tt0050514            4.1        38
3  tt0077620            4.2       212
4  tt0064307            3.2       607

### Verify tConst as a primary key

In [56]:
%%bigquery
SELECT COUNT(*) 
FROM imdb_modeled.TitleRatings

       f0_
0  1022151

In [57]:
%%bigquery
SELECT COUNT(DISTINCT tConst)
FROM imdb_modeled.TitleRatings

       f0_
0  1022151

### Verify imdb_modeled.TitleRatings has a foreign key constraint on field tConst by parent imdb_modeled.Titles

In [2]:
%%bigquery
SELECT tr.tConst
FROM imdb_modeled.TitleRatings tr
WHERE tr.tConst NOT IN (SELECT ti.tConst FROM imdb_modeled.Titles ti)

Empty DataFrame
Columns: [tConst]
Index: []

## Create table Characters with fields from imdb_staging.TitlePrincipals with primary key tConst, and foreign key restraint on field nConst by parent table People

In [58]:
%%bigquery
CREATE table imdb_modeled.Characters as
SELECT DISTINCT tConst, tp.nConst, job, characters
FROM imdb_staging.TitlePrincipals tp
INNER JOIN imdb_modeled.People pe 
ON pe.nConst = tp.nConst

Empty DataFrame
Columns: []
Index: []

## Sample Characters

In [59]:
%%bigquery 
SELECT *
FROM imdb_modeled.Characters
LIMIT 5

       tConst      nConst         job      characters
0   tt4533768   nm0233893          \N  ["Tilly Winn"]
1   tt7328956   nm2362231  adaptation              \N
2   tt4844918   nm6056794          \N              \N
3  tt10514508  nm10779526          \N              \N
4  tt10987232   nm0616338  screenplay              \N

### Verify tConst as a primary key

In [60]:
%%bigquery
SELECT COUNT (*)
FROM imdb_modeled.Characters

        f0_
0  37687123

In [61]:
%%bigquery
SELECT COUNT (DISTINCT tConst) FROM imdb_modeled.Characters

       f0_
0  5899527

### Verify foreign key constraint on nConst by parent table People

In [ ]:
%%bigquery
SELECT ch.nConst
FROM imdb_modeled.Characters ch
WHERE ch.nConst NOT IN (SELECT pe.nConst FROM imdb_modeled.People pe)

In [1]:
# Using Apache Beam, create a table Directs_Beam, that makes Directs 3NF Compliant 
# Changes nConst field from an array of directors to a single primary director 
%run Directs_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Directs'> referenced by query SELECT directors, tConst FROM imdb_modeled.Directs limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset starry-center-266501:temp_dataset_f3a33e7a26ac474bbd7ac2312326e5fe does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table starry-center-266501.imdb_modeled.Directs_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'director'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583540088510
 etag: '7QAvOvvQMgjENZKrGiVBSQ=='
 id: 'starry-center-266501:imdb_modeled.Directs_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583540088541
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'director'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/starry-center-266501/datasets/imdb_modeled/tables/Directs_Beam'
 tableReference: <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Directs_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

# Verify that Directs_Beam has a primary key tConst

In [1]:
%%bigquery
select count(*) from imdb_modeled.Directs_Beam

   f0_
0  100

In [9]:
%%bigquery
select count(distinct tConst) from imdb_modeled.Directs_Beam

   f0_
0  100

# Verify that Directs_Beam has a foreign key constraint placed on it by Titles

In [10]:
%%bigquery 
SELECT db.tConst
FROM imdb_modeled.Directs_Beam db
WHERE db.tConst NOT IN (SELECT t.tConst FROM imdb_modeled.Titles t)

Empty DataFrame
Columns: [tConst]
Index: []

In [ ]:
# Using Apache Beam, create a table Directs_Beam, that has scalar values in the tConst field
%run directs_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

## Sample directs_beam_dataflow

In [1]:
%%bigquery
select * from imdb_modeled.Directs_Beam_DF limit 5

    director      tConst
0  nm1949089  tt11683962
1  nm0559400   tt8927858
2  nm1191303   tt6671538
3  nm0637176  tt11128110
4  nm0902823   tt6647040

## Confirm Directs_beam_dataflow has composite primary key nConst, tConst, and that it is a child table to parent table People

In [2]:
%%bigquery 
SELECT COUNT (*) FROM imdb_modeled.Directs_Beam_DF

       f0_
0  3111973

In [3]:
%%bigquery
SELECT COUNT(*) FROM 
(SELECT DISTINCT director, tConst 
FROM imdb_modeled.Directs_Beam_DF)
# verified composite primary key

       f0_
0  3111973

In [4]:
%%bigquery
# verifying FK restraint placed on nConst by people
SELECT director
FROM imdb_modeled.Directs_Beam_DF
WHERE director NOT IN (SELECT nConst FROM imdb_modeled.People)

Empty DataFrame
Columns: [director]
Index: []

In [6]:
%%bigquery 
#verifying FK restraint placed on tConst by Titles
SELECT dbd.tConst FROM imdb_modeled.Directs_Beam_DF dbd
WHERE dbd.tConst NOT IN (SELECT t.tConst FROM imdb_modeled.Titles t)

Empty DataFrame
Columns: [tConst]
Index: []

In [1]:
# Writes_beam
%run Writes_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Writes'> referenced by query SELECT writers, tConst FROM imdb_modeled.Writes limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset starry-center-266501:temp_dataset_9b60ee5ccc6f412bb7c479c4086f7680 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table starry-center-266501.imdb_modeled.Writes_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'writer'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583623397759
 etag: 'ntp6BRCxyUXXkRCx23vnWQ=='
 id: 'starry-center-266501:imdb_modeled.Writes_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583623397798
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'writer'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/starry-center-266501/datasets/imdb_modeled/tables/Writes_Beam'
 tableReference: <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Writes_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [5]:
# Writes_beam
%run Writes_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

### Sample Writes_beam_DF, prove writer, tConst as a composite primary key, and prove it is a child table to parent tables People and Titles

In [1]:
%%bigquery
SELECT * FROM imdb_modeled.Writes_Beam_DF LIMIT 5

       Writer      tConst
0  nm10641662  tt11110374
1   nm5597421   tt2800438
2   nm5366481   tt6870672
3   nm5168876   tt5794264
4   nm8278497   tt7110898

In [2]:
%%bigquery
SELECT COUNT (*) FROM imdb_modeled.Writes_Beam_DF

       f0_
0  1623309

In [3]:
%%bigquery 
SELECT COUNT (*) FROM
(SELECT DISTINCT writer, tConst
FROM imdb_modeled.Writes_Beam_DF)
# verified composite primary key

       f0_
0  1623309

In [4]:
%%bigquery 
# verfiying FK restraint placed on nConst by People
SELECT writer FROM imdb_modeled.Writes_Beam_DF wbd
WHERE wbd.writer NOT IN (SELECT p.nConst FROM imdb_modeled.People p)

Empty DataFrame
Columns: [writer]
Index: []

In [5]:
%%bigquery 
# verifying FK restraint placed on tConst by Titles
SELECT wbd.tConst FROM imdb_modeled.Writes_Beam_DF wbd
WHERE wbd.tConst NOT IN (SELECT t.tConst FROM imdb_modeled.Titles t)

Empty DataFrame
Columns: [tConst]
Index: []

In [2]:
# Writes_beam
%run KnownForTitles_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'People'> referenced by query SELECT nConst, knownForTitles FROM imdb_modeled.People limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset starry-center-266501:temp_dataset_6d5c815edd854ed6a267eb18ffaa246b does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table starry-center-266501.imdb_modeled.knownForTitles_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583549015615
 etag: 'geXp9xpAxFiiisf1FE32pQ=='
 id: 'starry-center-266501:imdb_modeled.knownForTitles_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583549015660
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/starry-center-266501/datasets/imdb_modeled/tables/knownForTitles_Beam'
 tableReference: <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'knownForTitles_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [ ]:
# Separate off the knownForTitles arrays from people to make scalar in a different table
%run knownForTitles_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

## Sample knownForTitles_Beam_DF, show that it has a composite primary key of nConst and tConst, and show that it is a child table of parent table People

In [7]:
%%bigquery
SELECT * FROM imdb_modeled.knownForTitles_Beam_DF LIMIT 5

       nConst     tConst
0  nm10100311         \N
1  nm10346006  tt9296836
2   nm1102887  tt0134453
3   nm0599977  tt0150508
4   nm2359980  tt0847192

In [8]:
%%bigquery
SELECT COUNT (*) FROM imdb_modeled.knownForTitles_Beam_DF

        f0_
0  17254141

In [10]:
%%bigquery 
# verfiying composite PK nConst, tConst
SELECT COUNT (*) FROM 
(SELECT DISTINCT nConst, tConst FROM imdb_modeled.knownForTitles_Beam_DF)

        f0_
0  17254141

In [12]:
%%bigquery 
# verfiying FK restraint placed by people
SELECT kbd.nConst FROM imdb_modeled.knownForTitles_Beam_DF kbd
WHERE kbd.nConst NOT IN (SELECT p.nConst FROM imdb_modeled.People p)

Empty DataFrame
Columns: [nConst]
Index: []

In [12]:
%run primaryProfession_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'People'> referenced by query SELECT nConst, primaryProfession FROM imdb_modeled.People limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset starry-center-266501:temp_dataset_1fe59bf0e2ba44379cecd573d6a28754 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table starry-center-266501.imdb_modeled.primaryProfession_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'primaryProfession'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583631059545
 etag: 'f47C6QsCG7tflCHKvTt/Fg=='
 id: 'starry-center-266501:imdb_modeled.primaryProfession_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583631059574
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'primaryProfession'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/starry-center-266501/datasets/imdb_modeled/tables/primaryProfession_Beam'
 tableReference: <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'primaryProfession_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [14]:
%run primaryProfession_beam_dataflow.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

#### Sample primaryProfession_Beam_Dataflow, show that nConst and job make up a compsite primary key, and that it is a child table to parent table People

In [27]:
%%bigquery
SELECT * FROM imdb_modeled.primaryProfession_Beam_DF LIMIT 5

       nConst   primaryProfession
0   nm7987813           executive
1   nm0855685  casting_department
2  nm11071615       set_decorator
3   nm3917438           publicist
4   nm3083662    casting_director

In [17]:
%%bigquery
SELECT COUNT (*) FROM imdb_modeled.primaryProfession_Beam_DF

        f0_
0  10855861

In [22]:
%%bigquery
# verify primaryProfession_Beam_DF has a composite primary key of nConst and primaryProfession
SELECT COUNT (*) FROM (SELECT DISTINCT nConst, primaryProfession FROM imdb_modeled.primaryProfession_Beam_DF)

        f0_
0  10855861

In [26]:
%%bigquery 
# verify that primaryProfession has a foreign key constraint on nConst field by People
SELECT pr.nConst FROM imdb_modeled.primaryProfession_Beam_DF pr
WHERE pr.nConst NOT IN (SELECT p.nConst FROM imdb_modeled.People p)

Empty DataFrame
Columns: [nConst]
Index: []

In [ ]:
# Replace imdb_modeled.People with imdb_modeled.Cast, such that Cast is standardized (doesn't include array attributes)

In [ ]:
%%bigquery
CREATE TABLE imdb_modeled.Cast as 
SELECT nConst, primaryName, birthYear, deathYear
FROM imdb_modeled.People

## Characters tables

In [3]:
# Characters_beam
%run Characters_beam.py

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:oauth2client.transport:Refreshing due to a 401 (attempt 1/2)
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Characters'> referenced by query SELECT tConst, nConst, job, characters FROM imdb_modeled.Characters limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset starry-center-266501:temp_dataset_52557c0ef57147e69af5f7714389d73e does not exist so we will create it as temporary with location=US

else: {'tConst': 'tt11043192', 'nConst': 'nm4290562', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt2644920', 'nConst': 'nm2005412', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt1182480', 'nConst': 'nm0942825', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt5627722', 'nConst': 'nm5807544', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0248375', 'nConst': 'nm0180679', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0171099', 'nConst': 'nm0646878', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt11023672', 'nConst': 'nm11017487', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt11086974', 'nConst': 'nm11040990', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt10209594', 'nConst': 'nm10633350', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt5566892', 'nConst': 'nm0155117', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0417697', 'nConst': 'nm1665929', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt10570670', 'nConst': 'nm3401371', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt9699234', 'nConst': 'nm6851800', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt7592350', 'nConst': 'nm3482904', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0011315', 'nConst': 'nm0934749', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt1038056', 'nConst': 'nm2376503', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt5895424', 'nConst': 'nm7727044', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt5220232', 'nConst': 'nm7746542', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt1768259', 'nConst': 'nm2437171', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt10117976', 'nConst': 'nm10590390', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt7904876', 'nConst': 'nm4279344', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt1240912', 'nConst': 'nm0119390', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt10913576', 'nConst': 'nm3280151', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt4932606', 'nConst': 'nm2079849', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt1687921', 'nConst': 'nm2903741', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt7653038', 'nConst': 'nm0592238', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt4651922', 'nConst': 'nm2021018', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0950919', 'nConst': 'nm2707382', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0109994', 'nConst': 'nm0773801', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt7698802', 'nConst': 'nm2871451', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt5215492', 'nConst': 'nm6791446', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt3066874', 'nConst': 'nm0997477', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt3021544', 'nConst': 'nm3942478', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0414167', 'nConst': 'nm0347557', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt0902221', 'nConst': 'nm0888441', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt3247944', 'nConst': 'nm3154566', 'characters': '\\N', 'job': '\\N'}
else: {'tConst': 'tt7945264', 'nConst': 'nm4060172', 'characters': '\\N', 'job': 'writer'}
else: {'tConst': 'tt0568048', 'nConst': 'nm0940963', 'characters': '\\N', 'job': 'writer'}
else: {'tConst': 'tt1075965', 'nConst': 'nm0065637', 'characters': '\\N', 'job': 'writer'}
else: {'tConst': 'tt7809326', 'nConst': 'nm1290677', 'characters': '\\N', 'job': 'writer'}
else: {'tConst': 'tt10297540', 'nConst': 'nm0062879', 'characters': '\\N', 'job': 'creator'}
else: {'tConst': 'tt4925658', 'nConst': 'nm1247173', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt6786506', 'nConst': 'nm2284078', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt1667151', 'nConst': 'nm3893391', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt0576057', 'nConst': 'nm0825720', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt7937690', 'nConst': 'nm0121173', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt5505272', 'nConst': 'nm0563930', 'characters': '\\N', 'job': 'producer'}
else: {'tConst': 'tt9455766', 'nConst': 'nm4470706', 'characters': '\\N', 'job': 'Screenplay'}
else: {'tConst': 'tt0513699', 'nConst': 'nm0569198', 'characters': '\\N', 'job': 'written by'}
else: {'tConst': 'tt0649316', 'nConst': 'nm0437200', 'characters': '\\N', 'job': 'written by'}
else: {'tConst': 'tt2394123', 'nConst': 'nm2653751', 'characters': '\\N', 'job': 'head writer'}
else: {'tConst': 'tt9373826', 'nConst': 'nm0166662', 'characters': '\\N', 'job': 'script writer'}
else: {'tConst': 'tt2169367', 'nConst': 'nm1088993', 'characters': '\\N', 'job': 'series director'}
if: {'tConst': 'tt11050136', 'nConst': 'nm11027123', 'characters': 'Him', 'job': '\\N'}
if: {'tConst': 'tt7807364', 'nConst': 'nm9519483', 'characters': 'Kai', 'job': '\\N'}
if: {'tConst': 'tt8141116', 'nConst': 'nm7935125', 'characters': 'Toni', 'job': '\\N'}
if: {'tConst': 'tt10390734', 'nConst': 'nm0660515', 'characters': 'Vera', 'job': '\\N'}
if: {'tConst': 'tt0859543', 'nConst': 'nm0437454', 'characters': 'Yoda', 'job': '\\N'}
if: {'tConst': 'tt3839590', 'nConst': 'nm6606489', 'characters': 'Harry', 'job': '\\N'}
if: {'tConst': 'tt4526296', 'nConst': 'nm7188541', 'characters': 'Omari', 'job': '\\N'}
if: {'tConst': 'tt1594904', 'nConst': 'nm2925144', 'characters': 'Tottes', 'job': '\\N'}
if: {'tConst': 'tt10710594', 'nConst': 'nm0171441', 'characters': 'Apollis', 'job': '\\N'}
if: {'tConst': 'tt2694480', 'nConst': 'nm4224228', 'characters': 'Herself', 'job': '\\N'}
if: {'tConst': 'tt0788625', 'nConst': 'nm0704472', 'characters': 'Herself', 'job': '\\N'}
if: {'tConst': 'tt11009654', 'nConst': 'nm11008197', 'characters': 'Herself', 'job': '\\N'}
if: {'tConst': 'tt2343905', 'nConst': 'nm4290928', 'characters': 'Herself', 'job': '\\N'}
if: {'tConst': 'tt9248644', 'nConst': 'nm10244664', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt8059410', 'nConst': 'nm4786688', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt0555855', 'nConst': 'nm0591305', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt2218954', 'nConst': 'nm2225867', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt10858502', 'nConst': 'nm1623376', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt1175990', 'nConst': 'nm2235485', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt3538678', 'nConst': 'nm6294283', 'characters': 'Himself', 'job': '\\N'}
if: {'tConst': 'tt9185286', 'nConst': 'nm3398055', 'characters': 'Demiurgo', 'job': '\\N'}
if: {'tConst': 'tt5993162', 'nConst': 'nm8383183', 'characters': 'Denkichi', 'job': '\\N'}
if: {'tConst': 'tt10632158', 'nConst': 'nm9891927', 'characters': 'CID Mohan', 'job': '\\N'}
if: {'tConst': 'tt3377094', 'nConst': 'nm6126342', 'characters': 'Wild Bill', 'job': '\\N'}
if: {'tConst': 'tt0574249', 'nConst': 'nm0005380', 'characters': 'Ray Barone', 'job': '\\N'}
if: {'tConst': 'tt7394854', 'nConst': 'nm0649896', 'characters': 'Ana Cecilia', 'job': '\\N'}
if: {'tConst': 'tt0914257', 'nConst': 'nm1417918', 'characters': 'Bojana Nemet', 'job': '\\N'}
if: {'tConst': 'tt2532450', 'nConst': 'nm0470315', 'characters': 'Arno Brandner', 'job': '\\N'}
if: {'tConst': 'tt0037959', 'nConst': 'nm0472603', 'characters': 'James Carlton', 'job': '\\N'}
if: {'tConst': 'tt1048358', 'nConst': 'nm0874197', 'characters': 'Armando Koppel', 'job': '\\N'}
if: {'tConst': 'tt9144604', 'nConst': 'nm9872129', 'characters': 'Brooke Kennedy', 'job': '\\N'}
if: {'tConst': 'tt10523372', 'nConst': 'nm1090060', 'characters': 'Ferhunde Hanim', 'job': '\\N'}
if: {'tConst': 'tt9308678', 'nConst': 'nm1463161', 'characters': 'Himself - Host', 'job': '\\N'}
if: {'tConst': 'tt9884280', 'nConst': 'nm0484093', 'characters': 'Himself - Host', 'job': '\\N'}
if: {'tConst': 'tt1267296', 'nConst': 'nm0510802', 'characters': 'Nicole Brennan', 'job': '\\N'}
if: {'tConst': 'tt1053195', 'nConst': 'nm2357552', 'characters': 'Heather Stevens', 'job': '\\N'}
if: {'tConst': 'tt3701980', 'nConst': 'nm1443238', 'characters': 'Himself - Coach', 'job': '\\N'}
if: {'tConst': 'tt11597978', 'nConst': 'nm0001116', 'characters': 'Himself - Guest', 'job': '\\N'}
if: {'tConst': 'tt2125967', 'nConst': 'nm0001363', 'characters': 'Little Princess', 'job': '\\N'}
if: {'tConst': 'tt1386206', 'nConst': 'nm1580884', 'characters': 'Dawn McConnichie', 'job': '\\N'}
if: {'tConst': 'tt0605481', 'nConst': 'nm0359577', 'characters': 'Dr. Sellers Boyd', 'job': '\\N'}
if: {'tConst': 'tt3218822', 'nConst': 'nm0763228', 'characters': 'Ramón Sotomayor', 'job': '\\N'}
if: {'tConst': 'tt7870800', 'nConst': 'nm10033513', 'characters': 'Narrator (Korean)', 'job': '\\N'}
if: {'tConst': 'tt0490954', 'nConst': 'nm0527852', 'characters': 'Charlotte Falingard', 'job': '\\N'}
if: {'tConst': 'tt1644079', 'nConst': 'nm0816828', 'characters': 'Ivana Dorantes Rangel', 'job': '\\N'}
if: {'tConst': 'tt10260438', 'nConst': 'nm10657293', 'characters': 'Minassian Duduk Quartet', 'job': '\\N'}
if: {'tConst': 'tt7652024', 'nConst': 'nm0959926', 'characters': 'Emiliano Ruiz y de Teresa', 'job': '\\N'}

INFO:apache_beam.io.gcp.bigquery_tools:Created table starry-center-266501.imdb_modeled.Characters_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'job'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'characters'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583807275469
 etag: 'cH9dGO9PsRx7TtFBNgcCeQ=='
 id: 'starry-center-266501:imdb_modeled.Characters_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583807275507
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'tConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'nConst'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'job'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'characters'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/starry-center-266501/datasets/imdb_modeled/tables/Characters_Beam'
 tableReference: <TableReference
 datasetId: 'imdb_modeled'
 projectId: 'starry-center-266501'
 tableId: 'Characters_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [ ]:
# Characters_beam_dataflow
%run Characters_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpxtezw0ph', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://imdb-beam/staging/split-characters-df.1583809008.385181/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpxtezw0ph', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://imdb-beam/staging/split-characters-df.1583809008.385181/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://imdb-beam/staging/split-characters-df.1583809008.385181/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-10T02:56:53.952694Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-09_19_56_52-12507891168034864977'
 location: 'us-central1'
 name: 'split-characters-df'
 projectId: 'starry-center-266501'
 stageStates: []
 startTime: '2020-03-10T02:56:53.952694Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-09_19_56_52-12507891168034864977]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-09_19_56_52-12507891168034864977?project=starry-center-266501
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-09_19_56_52-12507891168034864977 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:53.026Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-09_19_56_52-12507891168034864977.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:53.026Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-09_19_56_52-12507891168034864977. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:57.997Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:58.630Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.150Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.187Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.216Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.247Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.309Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.608Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.641Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Return title: director i dictonaries
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.674Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Return title: director i dictonaries
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.698Z: JOB_MESSAGE_DETAILED: Fusing consumer Return title: director i dictonaries into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.725Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.752Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.778Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.805Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.831Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.857Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.879Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.904Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.933Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.958Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:56:59.983Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.139Z: JOB_MESSAGE_DEBUG: Executing wait step start16
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.199Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.232Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.241Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.269Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.323Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:00.386Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-09_19_56_52-12507891168034864977 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-10T02:57:28.841Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).

#### Sample Characters_Beam_Dataflow, show that nConst, tConst and characters make up a compsite primary key, and that it is a child table to parent table People

In [4]:
%%bigquery
SELECT * FROM imdb_modeled.Characters_Beam_DF LIMIT 5

      tConst     nConst job      characters
0  tt6646310  nm7443884  \N  Herself - Host
1  tt7744626  nm7672265  \N  Herself - Host
2  tt9620248  nm0407833  \N  Herself - Host
3  tt1723459  nm1216095  \N  Herself - Host
4  tt4858570  nm1548383  \N  Herself - Host

In [5]:
%%bigquery
SELECT COUNT (*) FROM imdb_modeled.Characters_Beam_DF

        f0_
0  37687123

In [14]:
%%bigquery
CREATE TABLE imdb_modeled.characters as
SELECT DISTINCT nConst, tConst, characters
FROM imdb_modeled.Characters_Beam_DF

Empty DataFrame
Columns: []
Index: []

In [1]:
%%bigquery
SELECT COUNT (*) FROM imdb_modeled.characters

        f0_
0  37687119

In [6]:
%%bigquery
# verify CHARACTERS_Beam_DF has a composite primary key of nConst and Characters
SELECT COUNT (*) FROM (SELECT DISTINCT nConst, tConst, characters FROM imdb_modeled.Characters_Beam_DF)

        f0_
0  37687119

In [7]:
%%bigquery 
# verify that primaryProfession has a foreign key constraint on nConst field by People
SELECT c.nConst FROM imdb_modeled.Characters_Beam_DF c
WHERE c.nConst NOT IN (SELECT p.nConst FROM imdb_modeled.People p)

Empty DataFrame
Columns: [nConst]
Index: []